    <mat-toolbar color="primary">
      <mat-toolbar-row>
    <span>DocSvayam</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
<!--     <button id="fb" mat-button (click)="signInWithFacebook()">
      Login with Facebook
    </button> -->

    <button id="google" mat-button (click)="signInWithTwitter()">
      Login with Twitter
    </button>
<!--     <button id="google" mat-button (click)="signInWithGoogle()">
      Login with Google
    </button> -->